<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doandd_datdoan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM"/>

    <application
        android:name=".Activity.AppFb"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnDD_DatDoAn">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".Activity.ĐatonHangThanhCong_Activity"></activity>
        <activity android:name=".Activity.DatMon_Activity" />
        <activity android:name=".Activity.ThongTinKHang_Activity" />
        <activity android:name=".Activity.CTMonAn_Activity" />
        <activity android:name=".Activity.QuenMatKhau_Activity" />
        <activity android:name=".Activity.CTCuaHang_Activity" />
        <activity android:name=".Activity.DangKi_Activity" />
        <activity android:name=".Activity.CTKhuyenMai_Activity" />
        <activity android:name=".Activity.SuKienTaiKhoan_Activity" />
        <activity android:name=".Activity.TimKiem_Activity" />
        <activity
            android:name=".Activity.TrangChinh"
            android:theme="@style/Theme.DoAnDD_DatDoAn" />
        <activity android:name=".Activity.HienThiSanPham" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Activity.ReminderBroadcast"/>
    </application>

</manifest>