@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Share/LayOut.cshtml";
}

<h2 style="color:red; text-align:center">CÔNG TY TRÁCH NHIỆM HỮU HẠNG 4 THÀNH VIÊN</h2>
            <p style="text-align:left; width: 997px; font-size: 20px; margin-left: 50px; margin-right: 50px;">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thương mại điện tử ngày một phổ biến trong việc giao dịch trao đổi mua bán hàng hóa chính vì vậy <span style="color:red">DDTV-shop</span> ra đời để tiện việc cung cấp thông tin hình ảnh sản phẩm của chúng tôi một cách trực quan, chính xác  nhất đến với khách hàng được  nhanh chóng và tiện lợi với giá cả hàng hóa và dịch vụ tốt nhất .<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thiết bị công nghệ thông tin là những công cụ không thể thiếu trong đời sống hằng ngày nhằm phục vụ cho công việc ,học  tập, giải trí ,thông tin liên lạc ….Máy vi tính PC  , máy tính xách tay (laptop),máy tính bảng, điện thoại thông minh ,linh kiện,phụ kiện các loại , thiết bị giải trí điện tử, âm thanh ,hình ảnh …Đó là những sản phẩm chủ đạo mà <span style="color:red">DDTV-shop</span> chuyên kinh doanh phân phối với phương châm hàng hóa chất lượng tốt nhất, nhập khẩu chính hãng , giá cả cạnh tranh , dịch vụ sau bán hàng hậu mãi chu đáo, tất cả vì quyền lợi của khách hàng .<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thỏa mãn nhu cầu và sự hài lòng của quý khách là phương châm hành động cũng là điều kiện sống còn đối với  Công Ty chúng tôi .<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chúng tôi xin chân thành cảm ơn tất cả những khách hàng đã đồng hành , tin dùng , sử dụng những sản phẩm  và dịch vụ của chúng tôi cung cấp trong suốt thời gian qua .<br />

            </p>
            <p style="text-align:center; font-size: 20px;">
                Cảm ơn bạn đã lựa chọn <span style="color:red">DDTV-shop</span> <br />
                Mọi đóng góp ý kiến vui lòng liên hệ qua mail hoặc Facebook nhé! <br />
            </p>
 <table style="width: 100%; ">
            <tr>
                <td class="auto-style5"><img src="~/HinhAnh/Vi.jpg"  Height="300px" Width="300px"/></td>
                <td class="auto-style5"><img src="~/HinhAnh/Tung.jpg"  Height="300px" Width="300px" /></td>
                <td class="auto-style5"><img src="~/HinhAnh/Vi.jpg"  Height="300px" Width="300px" /></td>
                <td class="auto-style5"><img src="~/HinhAnh/Vi.jpg"  Height="300px" Width="300px" /></td>
            </tr>
            <tr>
                <td style="text-align: center" class="auto-style6">
                   <p>Họ Tên : Phạm Thị Vi<br /><span>MSSV: 2001181417</span></p>
                </td>
                <td style="text-align: center" class="auto-style6"> 
                    <p>Họ Tên : Đỗ Thanh Tùng<br /><span>MSSV: 2001181417</span></p>
                </td>
                <td style="text-align: center" class="auto-style6">
                     <p>Họ Tên : Phan Thị Ngọc Dung<br /><span>MSSV: 2001181417</span></p>
                </td>
                 <td style="text-align: center" class="auto-style6">
                     <p>Họ Tên : Lý Hoàng Phi Dũng<br /><span>MSSV: 2001181417</span></p>
                </td>
            </tr>
        </table>
