@{
    ViewBag.Title = "HeThongSieuThi";
    Layout = "~/Views/Share/LayOut.cshtml";
}

<div class="row">
 
                <div class="col col-4" style="margin-top: 50px">
                    <ul style="list-style: none">
                        <li>
                            <a href="#">
                                <button style="width: 100%">
                                    <h3>DDTV-Shop</h3>
                                    <p>1 Bùi Xuân Phái, Tây Thạnh, Tân Phú, Hồ Chí Minh</p>
                                </button>

                            </a>
                        </li>

                        <li>
                            <button style="width: 100%">
                                <h3>DDTV-Shop</h3>
                                <p>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, Hồ Chí Minh</p>
                            </button>
                        </li>

                        <li>
                            <button style="width: 100%">
                                <h3>DDTV-Shop</h3>
                                <p>1 Nguyễn Đống Da, Tây Sơn, Tịnh Khê, Đà Nẵng</p>
                            </button>
                        </li>

                        <li>
                            <button style="width: 100%">
                                <h3>DDTV-Shop</h3>
                                <p>18 Đường Đinh Tiên Hoàng, Đa Kao, Quận 1, Hồ Chí Minh</p>
                            </button>
                        </li>
                    </ul>
                </div>
                <div>
                </div>
                <div class="col col-8" style="background-color: lavender;">
                   <iframe src="https://www.google.com/maps/d/embed?mid=1wBcl2pug0wWHeL4trdlkuhG0VEarevoK" width="100%" height="100%"></iframe>
                </div>
    @* <a href="https://maps.google.com?saddr=Current+Location&amp;daddr=10.778737,106.679588" target="_blank" rel="nofollow">Chỉ đường</a>
                <a href="https://maps.google.com?saddr=Current+Location&amp;daddr=10.776963,106.654808" target="_blank" rel="nofollow">Chỉ đường</a>
                <a href="https://maps.google.com?saddr=Current+Location&amp;daddr=10.788671,106.699883" target="_blank" rel="nofollow">Chỉ đường</a>
                <a href="https://maps.google.com?saddr=Current+Location&amp;daddr=10.788481,106.699846" target="_blank" rel="nofollow">Chỉ đường</a>*@
</div>
    <br />
