@{
    ViewBag.Title = "Thongbao";
    Layout = "~/Views/Share/LayOut.cshtml";
}
<div class="mx-auto" style="text-align:center">

<h2>CẢM ƠN QUÝ KHÁCH ĐÃ LIÊN HỆ VỚI CHÚNG TÔI</h2>
<h6>Chúng tôi sẽ liên hệ với quý khách tróng thời gian sớm nhất</h6>
@Html.ActionLink("VỀ TRANG CHỦ", "SanPham", "Product")
    </div>
