@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XoaLoai</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
@model DoAn_CNWEB_BanLapTop.Models.Loai
    <fieldset style="width:500px; margin-left:400px">
        <h3>Are you sure you want to delete this?</h3>
        <legend>Xóa Sản Phẩm</legend>
    
        <div class="row">

            <div class="col-3">
                <img src="~/HinhAnhSP/@Html.DisplayFor(model => model.HinhAnh)" style="width:150px"/>
            </div>

            <div class="col-9">
                <table>
                <tr>
                    <td>Tên loại sản phẩm : </td>
                    <td>@Html.DisplayFor(model => model.TenLoai)</td>
                    
                </tr>
                    </table>
            </div>
              @using (Html.BeginForm()) {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Loai")
        </p>
    }
        </div>
    </fieldset>

