@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Share/LayOut.cshtml";
}
<div class="mx-auto" style="text-align:center">

<h2>XÁC NHẬN ĐƠN HÀNG THÀNH CÔNG</h2>
<h6>Đơn hàng của quý khách đã được hệ thống ghi nhận, chúng tôi sẽ giao hàng cho quý khách đúng hẹn</h6>
@Html.ActionLink("VỀ TRANG CHỦ", "SanPham", "Product")
    </div>
